<!DOCTYPE html>
<html>
  <head>
    <title>Two Columns of Names</title>
    <style>
      /* Define the style for the columns */
      .column {
        float: left;
        width: 50%;
        padding: 10px;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="column">
        <h2>Fans</h2>
        <ul>
          {% for name in followers %}
            <li>{{ name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="column">
        <h2>Following</h2>
        <ul>
          {% for name in followings %}
            <li>{{ name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
